/* popup */

#popup {
  box-sizing: border-box;
  min-width: 700px;
}

/* inputs */

#topbar {
  /* border-bottom: 1px solid rgba(255,255,255,0.16); */
}
#alias {
  width: 250px;
}
#url {
  width: 100%;
  min-width: 400px;
}
#go {
  min-width: 100%;
}

/* alias list */

#aliases {
  margin-top: 196px;
}